/* Container styling */
.explore-container {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two columns */
  grid-gap: 20px;
  grid-auto-rows: minmax(200px, auto);
  /* Allows cards to adjust height based on content */
}

/* Post card styling */
.post-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: auto;
  /* Allow height to adjust to content */
}

.post-card:hover {
  transform: scale(1.03);
}

.user-id {
  font-size: 14px;
  color: #666;
  padding: 10px;
}

.post-image {
  width: 100%;
  height: auto;
  display: block;
}

.caption {
  font-size: 16px;
  padding: 10px;
  color: #333;
}

/* General post styling */
.post {
  margin-bottom: 20px;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

/* Photo-video styling */
.photo-video img {
  width: 100%;
  height: auto;
}

.photo-video p {
  font-style: italic;
  text-align: center;
}

/* Short-text styling (like a tweet) */
.short-text {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  /* Increased text size */
}

.short-text p {
  margin: 0;
  font-size: 18px;
  /* Increased text size for better readability */
}

/* Article styling (show first 100 chars, truncate for preview) */
.article {
  padding: 10px;
  background-color: #fafafa;
  border-left: 4px solid #3498db;
}

.article h3 {
  font-size: 18px;
  color: #3498db;
}

.article p {
  font-size: 16px;
}

/* Event styling (with date and description) */
.event {
  padding: 10px;
  background-color: #eaf7e5;
  border-left: 4px solid #2ecc71;
}

.event h3 {
  font-size: 18px;
  color: #2ecc71;
}

.event p {
  font-size: 16px;
}

.explore-container {
  padding: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  width: inherit;
}

.filter-options {
  display: flex;
  width: inherit;
  gap: 10px;
  overflow-x: auto;
}

.filter-options button {
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
}

.filter-options button.active {
  text-decoration: underline;
  background-color: #E1AE2C;
  color: white;
}

.filter-options button:hover {
  text-decoration: underline;
}