.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: inherit;
  }
  
  .filter-options {
    display: flex;
    width: inherit;
    gap: 10px;
    overflow-x: auto;
  }
  
  .filter-options button {
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
  }
  
  .filter-options button.active {
    text-decoration: underline;
    background-color: #E1AE2C;
    color: white;
  }
  
  .filter-options button:hover {
    text-decoration: underline;
  }